.card-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    width: 90%;
}

.text-response {
    padding-top:10px;
    padding-bottom:10px;
}

.show-answer-button {
    font-size: 12px !important;
    margin: 5px !important;
}

.left-arrow {
    cursor: pointer;   
    margin-left: 0;
}

.right-arrow {
    cursor: pointer;
    float: right;
}

.direction-wrapper {
    display : flex;
    justify-content: space-between;
}

.grey {
    color: grey;
}

.inquiry-next-question {
    padding-top: 3rem;
}